<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
</head>
<body style="background-color: black;">
    <!-- Start -->
    
    <%- include('./partials/nav') %>

    <!-- End -->
    
    <div class="container" style="background-color: rgb(218, 232, 245);padding: 5rem;margin-top: 4rem;border-radius: 10px;">
        <form action="/blog" method="post" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="coverImage" class="form-label" style="font-weight: 500;">Cover Image</label>
                <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="coverImage">
            </div>

            <div class="mb-3">
                <label for="title" class="form-label" style="font-weight: 500;">Title</label>
                <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
            </div>

            <div class="mb-3">
                <label for="body" class="form-label" style="font-weight: 500;">Body</label>
                <textarea name="body" class="form-control" id="body"></textarea>
            </div>

            <div class="mb-3">
                <button class="btn btn-primary"
                style="font-weight: 500;background-color: green;"
                >Submit</button>
            </div>
        </form>
    </div>
    
    <%- include('./partials/scripts') %>
</body>
</html>